.blueSample{
    background: blue;
    color: white;
  }
  .redSample{
    background: red;
    color: white;
  }
  .greenSample{
    background: green;
    color: white;
  }
  .pricetableSelected{
    background-color: #424242 ;
    color: white;
  }
  .white{
    color: white;
  }

  .btn-save-prices{
    float: right !important;
  }